
.transcript-field {
	border-radius: 30%;
}

.mic-button {
	border-radius: 50%;
	border: 0;
	transition: transform .4s;
}

.mic-button:hover {
	transform: scale(1.1);
	background-color: #1f1c51;
	 transform: scale(1.1);
}

.mic-button:hover .icon {
	color: #8be3ff;
}

.icon {
	width: 90%;
	height: 90%;
}

/* Active styling */

.mic-button-active {
	background-color: #d65e5e;	
}

.mic-button-active .icon {
	color: #111117;
}

/* Inactive styling */

.mic-button-inactive {
	background-color: #78c6dd;
}

.mic-button-inactive .icon {
	color: #FFE9CF;
}

.square-button {
	background-color: #78c6dd;
	color: #FFE9CF;
	border: 0;
	transition: transform .4s;
}

.square-button:hover {
	background-color: #1f1c51;
	color: #8be3ff;
	 transform: scale(1.1);
}




